<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Administrators</title>
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <link rel="stylesheet" href="http://localhost:3000/public/images/homepageresources/logo.gif" type="image/x-icon">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>
<body>
    <span class="alert alert-light" role="alert">
    </span>

        <div class="wrapper fadeInDown">
          <div id="formContent">
        
            <div class="fadeIn first">
              <img src="/public/images/homepageresources/logo.gif" id="icon" alt="Admin login" />
              <h1>Urban Services</h1>
            </div>

    <form action="/login/internal" method="POST">
        <input type="text" id="login" class="fadeIn second" name="username" placeholder="Username">
        <input type="password" id="password" class="fadeIn third" name="password" placeholder="Password">
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>

        <!-- Remind Passowrd -->
    <div id="formFooter">
        <p>Urban Services Technology</p>
      </div>
    </div>
</div>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
   <script src="plugins/jQuery/jquery-2.2.3.min.js"></script>
<!-- Other js files -->
<script src="plugins/jQuery/bootstrap.min.js"></script>

<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="plugins/jQuery/bootstrap.min.js"></script>




    <script type="text/javascript">    
        
        if($.trim($('#yo').text()).length === 0) {
            $('#yo').css("display", "none")
        }else{
            $('#yo').css("display", "block")
          
        }



        if($.trim($('#yoo').text()).length === 0) {
            $('#yoo').css("display", "none")
        }else{
            $('#yoo').css("display", "block")
          
        }

        </script>
</body>
</html>