<!DOCTYPE html>
<html lang="en">
<head>
 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <title>Board Of Trustee</title>
    <link rel='stylesheet' href='/stylesheets/boardOfTrustees.css' />
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> 
  <div>
    <ul class="admintopnav">
        <li><a href="#">Board Of Trustees</a></li>
        <div id=bakhm>
    <a  href="/"> Back To Home Page</a>
  </div>
          
      </ul>
    </div>
</head>
<body>
    
  <div>
    <img  id="board1" title="LATE ALH. RAFIU BABATUNDE TINUBU,Former Lagos State Head Of Service,
     Former Federal Civil Service Commissioner(CHAIRMAN)" 
    src="/images/boardOfTrusteeResources/RafiuTinubu.jpg"
    style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;" >
    <img id="board2" title= "ALH.(ENGR). ABDUL LATEEF ADIO ONIKOYI ,MD/CEO at Labec Nigeria Ltd.,Metropolitan Waterways Nigeria(MEMBER) " 
    src="/images/boardOfTrusteeResources/EngrLateefOnikoyi.jpg" 
    style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img id="board3" title= "PROF. JOHN OBAFUNWA, Former Vice Chancellor of Lagos State University(MEMBER)" 
    src="/images/boardOfTrusteeResources/ProfessorObafunwa.png" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img  id="board4" title= "ALH. GANIYU AJOSE, Bursar, Micheal Otedola College Of Primary Education(MOCPED),Epe(MEMBER)" 
    src="/images/boardOfTrusteeResources/AjoseGaniu.jpg" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img id="board5" title= "" src="/images/homepageresources/logo.gif" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <img id="board6" title= "" src="/images/homepageresources/logo.gif" style="float: left; width: 30%; margin-right: 1%; margin-bottom: 0.5em;">
    <p style="clear: both;"></p>
  </div>
  <script>
    $(function() {
    $( "#board1" ).tooltip({
        show: {
        effect: "slideDown",
        delay: 100
        }
    });
});
$(function() {
    $( "#board2" ).tooltip({
        show: {
        effect: "slideDown",
        delay: 100
        }
    });
});
$(function() {
    $( "#board3" ).tooltip({
        show: {
        effect: "slideDown",
        delay: 100
        }
    });
});
$(function() {
    $( "#board4" ).tooltip({
        show: {
        effect: "slideDown",
        delay: 100
        }
    });
});
  </script>
</body>
</html>