<!DOCTYPE html>
<html lang="en">
<head>
        <link rel='stylesheet' href='/stylesheets/career.css' />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <div>
            <ul class="admintopnav">
                <li><a href="#">CAREER</a></li>
                <div id=bakhm>
            <a  href="/"> Back To Home Page</a>
          </div>
                  
              </ul>
            </div>
</head>
<body>
    <div class="right-side">
<hi id="cariahead1"> Please be informed that all applicants will be investigated secretely and only those without any criminal records will be contacted.</hi>
    </div>
   <div class="left-side">
<h1 id="headin"><u>We are currently hiring...............</u></h1> 

<ul id="listrecruit">
    <li>Drivers</li>
    <li>Cleaners</li>
    <li>Gardners</li>
    <li>Security Men and Women</li>
    <li>Cooks</li>
</ul>
    <div id="recruittails">
        <h3>To apply for any of these jobs,</h3>
        <h3>Please send your CV to this E-mail Address::: <span id="mailapply"> tuntechsolutions@gmail.com </span></h3>
    </div>

   </div>
</body>
</html>