<!DOCTYPE html>
<html lang="en">
<head>
        <title><%= title %></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/ceoProfile.css' />
</head>
<body>
    <h1 id="headonceo" ><u>Welcome !</u></h1>
   
    <hr>
    <div class="card">
        <img src="/images/CEOresources/ceopic3.jpg" title="Mr. Onikoyi Tajudeen Tunde" alt="eSHO" style="width:100%">
        <h1 id="ceoname" >ONIKOYI TAJUDEEN TUNDE</h1>
        <sub> CAPM, BTech., MSc.Project Management</sub>
        <h4 id="ceonumbers">08037282426 , 07025424600</h4>
        
        <p class="title">MD/CEO & Founder</p>
        <strong><p id="compnyname">TUNTECH URBAN AND ENTERPRISES SOLUTIONS NIGERIA LIMITED</p></strong>
        <a href="https://twitter.com/onikesho"><i class="fa fa-twitter"></i></a>
        <a href="https://www.linkedin.com/in/tajudeen-onikoyi-capm-btech-532063a9/"><i class="fa fa-linkedin"></i></a>
        <a href="https://web.facebook.com/onikoyi.esho.5"><i class="fa fa-facebook"></i></a>
        <p><button title=" You can call me on 08037282426 or 07025424600">Contact</button></p>
      </div>
      <span id="bakhhmm"> <a  href="/"> Back To Home Page</a></span>
</body>
</html>