<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/contactUs.css' />
    <div>
            <ul class="contacttopnav">
                
                <div id="contaact">
            <a  href="/"> Back To Home Page</a>
          </div>
                  
              </ul>
            </div>
</head>
<body>
        <div class="container">
                <form action="action_page.php">
              
                  <label for="fname">First Name</label>
                  <input type="text" id="fname" name="firstname" placeholder="Your name..">
              
                  <label for="lname">Last Name</label>
                  <input type="text" id="lname" name="lastname" placeholder="Your last name..">

                  <label for="PhoneNo">Phone Number</label>
                  <input type="text" id="PhoneNo" name="PhoneNumber" placeholder="Input your number please">
              
                  <label for="country">Country</label>
                  <select id="country" name="country">
                    <option value="Nigeria">Nigeria</option>
                    <option value="Ghana">Ghana</option>
                    <option value="South Africa">South Africa</option>
                  </select>
              
                  <label for="subject">Subject</label>
                  <input type="text" id="subjt" name="subject" placeholder="Subject">
                  <label for="msg">Message</label>
                  <textarea id="subject" name="subject" placeholder="Detail us please.." style="height:200px"></textarea>
              
                  <input type="submit" value="Submit">
              
                </form>
              </div> 
</body>
</html>