<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <div id="hedadiv">
        <img class="logo" src="/images/homepageresources/logo.gif" alt = "My_logo"/>
        </div>
    <h1 id= "tit1"><%= title %> </h1>
  </head>
  <body>
      <ul class="topnav">
          
            <li><a href="#">Contact Us</a></li>
            <li><a href="#">Meet the CEO</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Our Partners</a></li>
            <li><a href="#"></a></li>
            <li><a href="#"></a></li>
            <li class="icon">
              <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
            </li>
          </ul>
    
  <h1><marquee> <p>Welcome to <%= title %> where we make life a lot easier for you</p></marquee></h1> 
  <img src="/images/homepageresources/Mayweather.jpeg" alt="HTML5 Icon" style="width:600px;height:350px;">
<div id= "tenrary">
  <button id=tempoB>Request for Temporary Services</button>
</div>
<div id= "permadiv">
  <button id=permaB>Request for Permanent Services</button>
</div>
   </body>
</html>
