<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> 
    <div id="hedadiv">
        <img class="logo" src="/images/homepageresources/logo.gif" alt = "My_logo"/>
        </div>
       
    <h1 id= "tit1"><%= title %> </h1>
  </head>
  <body>
      <ul class="topnav">
          
            <li><a href="/contactUs">Contact Us</a></li>
            <li><a href="/ceoProfile">Meet the CEO</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="/boardOfTrustee">Board Of Trustee</a></li>
            <li><a href="/adminPage">Admin</a></li>
            <li><a href="#"></a></li>
            <li class="icon">
              <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
            </li>
          </ul>
    
  <h1><marquee> <p>Welcome to <%= title %> where we make life a lot easier for you</p></marquee></h1> 
  <!-- <div class="slideshow-container">
    <div class="mySlides fade">
      <div class="numbertext">1 / 7</div>
      <img src="/images/homepageresources/lagosUrbanBridge.jpg" style="width:100%" height="120px" width="200px">
      <div class="text"></div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">2 / 7</div>
      <img src="" style="width:100%">
      <div class="text"></div>
    </div>
  
    <div class="mySlides fade">
      <div class="numbertext">3 / 7</div>
      <img src="" style="width:100%">
      <div class="text"></div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">4/ 7</div>
      <img src="" style="width:100%">
      <div class="text"></div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">5 / 7</div>
      <img src="" style="width:100%">
      <div class="text"></div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">6 / 7</div>
      <img src="" style="width:100%">
      <div class="text"></div>
    </div>
    <div class="mySlides fade">
      <div class="numbertext">7 / 7</div>
      <img src="" style="width:100%">
      <div class="text"></div>
    </div>
  
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
    <span class="dot" onclick="currentSlide(5)"></span>
    <span class="dot" onclick="currentSlide(6)"></span>
    <span class="dot" onclick="currentSlide(7)"></span>
  </div> -->
  <img src="/images/homepageresources/lagosUrbanBridge.jpg" alt="HTML5 Icon" title="Lekki-Ikoyi Suspended Bridge in Lagos State, Nigeria" style="width:600px;height:350px;">
<!-- <div id= "tenrary" class="RequestTabs">
  <button id=tempoB  >Request for Temporary Services</button>
</div> -->
<div id= "permadiv" class="RequestTabs">
  <button id=permaB >BE PART OF OUR SUCCESS STORY<a href="/clientRegistration"></a></button>
  <div>
    <h2 id="topico"> What we desire...................</h2>
  </div>
  <div id="Stament">
        "...It is a reality that our community is evolving into settlement of elites hence the reason to ensure each and every
      inhabitants enjoy the  bounties of the new world order. We as a service provider believe we can bridge the gap and bring
      the civilization to your doorsteps. We have discoverred the best way to do this...................<span id="Inword"><strong>"SIMPLIFYING ALL 
      DAILY ACTIVITIES WITH TECHNOLOGY"</strong></span>
        
        </div>
</div>
<div class="footer">
  <marquee>  <p>The definiton of new urban life for you and your loved ones........</p></marquee>
  </div>
<script type="text/javascript" src ="/javascripts/home.js"></script>
<script type="text/javascript">
  document.getElementById("permaB").onclick = function () {
        location.href = "/clientRegistration";
    };
</script>
   </body>
</html>
