<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/ourServices.css' />
    <div>
        <ul class="admintopnav">
            <li><a href="#">Our Services</a></li>
            <div id=bakhm>
        <a  href="/"> Back To Home Page</a>
      </div>
              
          </ul>
        </div>
</head>
<body>
  <div class="left-side">
  <p id="preamb"> We at Urban Services and Technology Nigeria Limited are dedicated to satisfying out teeming clients in all aspect of
    their daily urban life and activities. We have the underlisted services available for clients in need.
    
  </p>
</div>
<div class="right-side">
  <div id="tbl001">
    <table id="servicestable" >
        <h1 id="tblhead">Our Services' linked thus:</h1>
        <!-- <tr>
           
          <td><button id="sftwrDev" class="rowss">Software Development</button></td>        
        </tr> -->
        <tr>
                
              <td><button id="urpilot" class="rowss" >Urban Pilot</button></td>        
            </tr>
            <tr>
                
              <td><button id="urcook" class="rowss">Urban Cook</button></td>        
            </tr>
            <tr>
                
              <td><button id="urgardner" class="rowss" >Urban Gardner</button></td>        
            </tr>
        <tr>
            
          <td><button id = "scty" class="rowss" >Urban Security</button></td>        
        </tr>
        
      </table> 
      </div>
    </div>
      <script type="text/javascript">
        document.getElementById("scty").onclick = function () {
              location.href = "#";
          };
          // document.getElementById("sftwrDev").onclick = function () {
          //     location.href = "#";
          // };
        
          document.getElementById("urpilot").onclick = function () {
              location.href = "/urbanPilot";
          };
        
          document.getElementById("urcook").onclick = function () {
              location.href = "#";
          };
        
          document.getElementById("urgardner").onclick = function () {
              location.href = "#";
          };
          
      </script>
</body>
</html>