<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/ourServices.css' />
    <div>
        <ul class="admintopnav">
            <li><a href="#">Our Services</a></li>
            <div id=bakhm>
        <a  href="/"> Back To Home Page</a>
      </div>
              
          </ul>
        </div>
</head>
<body>
  <p id="preamb"> We at Urban Services and Technology Nigeria Limited are dedicated to satisfying out teeming clients in all aspect of
    their daily urban life and activities. We have the underlisted home service personel available for clients in need.
    We have hired and prepared them for the service required and you as our clients can have them for exchange of charges attached.
  </p>
  <div id="tbl001">
    <table id="servicestable" >
        <h1 id="tblhead">Our Services as listed below:</h1>
        <tr>
            <td>1  </td>
          <td><button id="sftwrDev" class="rowss">Software Developement</button></td>        
        </tr>
        <tr>
                <td>2  </td>
              <td><button id="urpilot" class="rowss" >Urban Pilot</button></td>        
            </tr>
            <tr>
                <td>3 </td>
              <td><button id="urcook" class="rowss">Urban Cook</button></td>        
            </tr>
            <tr>
                <td>4 </td>
              <td><button id="urgardner" class="rowss" >Urban Gardner</button></td>        
            </tr>
        <tr>
            <td>5  </td>
          <td><button id = "scty" class="rowss" >Urban Security</button></td>        
        </tr>
        
      </table> 
      </div>
      <script type="text/javascript">
        document.getElementById("scty").onclick = function () {
              location.href = "#";
          };
          document.getElementById("sftwrDev").onclick = function () {
              location.href = "#";
          };
        };
          document.getElementById("urpilot").onclick = function () {
              location.href = "#";
          };
        };
          document.getElementById("urcook").onclick = function () {
              location.href = "#";
          };
        };
          document.getElementById("surgardner").onclick = function () {
              location.href = "#";
          };
      </script>
</body>
</html>