<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/urbanPilot.css' />
    <div>
            <ul class="admintopnav">
                <li><a href="#">Urban Pilot</a></li>
                <div id=bakhm>
            <a  id="bakhm1e" href="/"> Back To Home Page</a>
          </div>
                  
              </ul>
            </div>
            <marquee><h1>You do not have to neccesarilly keep a permanent driver.............</h1></marquee>
</head>
<body>
    <!--  right div begins here  -->
    <div class= "right-side">
        <div id="chagtbl">
            <h1>Our Charges for Drivers on Mufty</h1>
            <table border="1|0">
               
                <tr>
                    <td>We charge</td>
                    <td> N2,000.00 Per Hour</td>
                    </tr>
                
                <tr>
                        <td>We charge</td>
                        <td> N15,000.00 Per Day(8hrs)</td>
                        
                    </tr>
                    <tr>
                            <td>We charge</td>
                            <td> N25,000.00 All round 2days booking</td>
                            
                        </tr>
            </table>
            <h1>Our charges for Kitted Drivers(Chauffeurs)</h1>
            <table border="1|0">
               
                    <tr>
                        <td>We charge</td>
                        <td> N3,500.00 Per Hour</td>
                        </tr>
                    
                    <tr>
                            <td>We charge</td>
                            <td> N20,000.00 Per Day(8hrs)</td>
                            
                        </tr>
                        <tr>
                                <td>We charge</td>
                                <td> N35,000.00 All round 2days booking</td>
                                
                            </tr>
                </table>
                <h1> and other negotiable charges as available on call.</h1>
                <div id="rqstbtn">
                <button>Request for a Driver</button>
                <h3><strong><h1>Note :</h1></strong> By standard, we should get your request by you clicking the request button above
                    but we will advise that you call any of these numbers<span><strong><h1>08037282426 , 07025424600 or 08066202071</h1></strong></span>for quick link to us in case there is
                    a network downtime and also for fast response.
                    <p>Thank you for your patronage.</p>
                 </h3>
            </div>
        </div>
    </div>
    <!-- right div ENDS here -->

    <!--  left div begins here  -->

    <div class= "left-side">
        <div>
            <h1> Our culture and standard</h1>
        </div>
        <div>
            <img src="/images/urbanPilotResources/maleDriver.jpg" alt="HTML5 Icon" title="A driver on duty" style="width:600px;height:300px;">
            <img src="/images/urbanPilotResources/femaleDriver.jpg" alt="HTML5 Icon" title="A driver on duty" style="width:600px;height:300px;">
            <img src="/images/urbanPilotResources/maleDriver.jpg" alt="HTML5 Icon" title="A driver on duty" style="width:600px;height:300px;">
            <img src="/images/urbanPilotResources/femaleDriver.jpg" alt="HTML5 Icon" title="A driver on duty" style="width:600px;height:300px;">
            <img src="/images/urbanPilotResources/professionaldrivers.jpg" alt="HTML5 Icon" title="A driver on duty" style="width:600px;height:300px;">
        </div>


    </div>
<div class="footer">
  <marquee> <strong> <p>You just call us and a driver/chauffeur will be sent to you................</strong></p></marquee>
  </div>
</body>
</html>