<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/urbanPilot.css' />
    <div>
            <ul class="admintopnav">
                <li><a href="#">Urban Pilot</a></li>
                <div id=bakhm>
            <a  id="bakhm1e" href="/"> Back To Home Page</a>
          </div>
                  
              </ul>
            </div>
</head>
<body>
    <!--  right div begins here  -->
    <div class= "right-side">
        <div id="chagtbl">
            <h1>Our Charges</h1>
            <table border="1|0">
                <tr>
                    <td>We charge</td>
                    <td> N3,500.00 Per Hour</td>
                    
                </tr>
                <tr>
                        <td>We charge</td>
                        <td> N15,000.00 Per Day(8hrs)</td>
                        
                    </tr>
            </table>
        </div>
    </div>
    <!-- right div ENDS here -->

    <!--  left div begins here  -->

    <div>
        <div>
            <h1> Our culture</h1>
        </div>
        <div>
            <img src="/images/urbanPilotResources/maleDriver.jpg" alt="HTML5 Icon" title="A driver on duty style="width:600px;height:350px;>
            <img src="/images/urbanPilotResources/femaleDriver.jpg" alt="HTML5 Icon" title="A driver on duty style="width:600px;height:350px;>
            <img src="/images/urbanPilotResources/femaleDriver.jpg" alt="HTML5 Icon" title="A driver on duty style="width:600px;height:350px;>
            <img src="/images/urbanPilotResources/maleDriver.jpg" alt="HTML5 Icon" title="A driver on duty style="width:600px;height:350px;>
        </div>
    </div>

</body>
</html>