#pic1 {
    border: 3px black;
}
#pic2 {
    float: right;
}
ul.admintopnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: gold;
    height: 30px;
    margin-top:  20px;
    margin-bottom: 20px;
}
ul.admintopnav li {
    float: left;
    font-size: 30px;
  }
  #bakhm {
      float: right;
      margin-top: 0px;
      color:green;
      font-style: italic;
  }