body {
    background-color: rgba(0, 128, 117, 0.048);
    background-image:  url("/images/homepageresources/logo.jpg");
   
    background-size: 1800px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    background-color: rgba(128, 15, 0, 0.151);
  }
  
  .title {
    color: grey;
    font-size: 18px;
  }
  
  button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  a {
    text-decoration: none;
    font-size: 22px;
    color: black;
  }
  
  button:hover, a:hover {
    opacity: 0.7;
  }
  #headonceo { 
      color: purple;
      padding-left: 40%;

  }
  #ceoname {
      color: green;
  }
  #ceonumbers {
      color: red;
  }
  #compnyname {
      color: blue;
  }
  #bakhhmm {
      padding-left: 45%;
  }
  