body {
    background-color: rgb(202, 117, 202);
}
body .left-side {
    width: 50%;
}
body .right-side {

    width: 50%;
    float: right;
}
#servicestable {
    /* width:50%; */
    font-size: 45px;
}
#tblhead {
    color: black;
}
#tbl001 {
    padding-left: 35%;
    
    /* padding-top: 5%; */
}
.rowss{
    font-size: 35px;
    background-color: rgb(202, 117, 202);
 
}
ul.admintopnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
    height: 30px;
    margin-top:  20px;
    margin-bottom: 20px;
    
}
ul.admintopnav li {
    float: left;
    font-size: 20px;
  }
  #bakhm {
      float: right;
      margin-top: 0px;
      color:green;
      font-style: italic;
  }
  #preamb {
      font-size: 30px;
     
  }