body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: purple;
  
  }

/* #tempoB {
  color: purple;
  width: 200px;
  background-color: gold;
  height: 50px;
 
} */
#tenrary {
  float: right;
}
#permaB {
  color: white;
  width: 200px;
  background-color: purple;
  height: 50px;
}
#permadiv {
  float: right;
}
.RequestTabs {
  padding-right: 100px;
  padding-bottom: 0px;
}
ul.topnav {
  list-style-type: none;
  margin: 0;
  margin-bottom: 0px;
  padding: 0;
  overflow: hidden;
  background-color: purple;
}
ul.topnav li {
  float: right;
}
ul.topnav li a {
  display: inline-block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: 0.3s;
  font-size: 17px;
}
ul.topnav li a:hover {
  background-color: gold;
}
ul.topnav li.icon {
  display: none;
}
.logo {
  float: left;
  width: 200px;
  height: 130px;
  color-interpolation-filters: sRGB;
}
#tit1 {
    padding-top: -1px;

}
#hedadiv {
   height: 10px;    
}
#Stament {
  position: absolute;
  float: right;
  color : black;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 padding-right: 0%;
}

#topico {
  
  color : black;
}
#Inword {
  color: purple;
  font-style: italic;

}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:purple;
  color: white;
  text-align: center;
}
 /* for the Picture Slides*/
  
 /* .slideshow-container {
  max-width: 100px;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 0;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  width: 20px;
}


.text {
  color: gold;
  font-size: 30px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
} */
/* picture slides ends*/